<a href="https://colab.research.google.com/github/jjungwooseo/KAU_Python/blob/main/KAU_Python_3days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
student_name = "김학생"
student_number = 2025050097
student_age = 20

In [4]:
a = 0
class S1:
  a = 1
x = S1()
print(a)
print(x.a)

0
1

In [6]:
class Simple_Class:
  pass
c1 = Simple_Class()
c2 = Simple_Class()

c1.a = 10
print(c1.a)
#print(c2.a)

10

In [7]:
a = 0
class S1:
  a = 1
print("S1 : ",S1.a)
x = S1()
print("x.a : ",x.a)
print('----------')
x.a = 10
print("a : ",a)
print("x.a : ",x.a)
print("S1.a : ",S1.a)

S1 :  1
x.a :  1
----------
a :  0
x.a :  10
S1.a :  1

In [17]:
class MyClass:
    def class_set(self, v):
        self.value = int(v)

    def class_get(self):
        return self.value

    def class_incr(self):
        self.class_set(self.value + 1)

c = MyClass()
c.class_set(1)
print(c.class_get())

c = MyClass()
MyClass.class_set(c, '10')
print(MyClass.class_get(c))

c.class_incr()
print(c.class_get())

1
10
11

In [18]:
def class_set(i):
  print("외부 함수입니다. - ",i)
class MyClass:
  def class_set(self,v):
    self.value = v
  def class_get(self):
    return self.value
  def class_incr(self):
    class_set(self.value+1)
c = MyClass()
c.class_set(1)
print(c.class_get())

print()

c.class_incr()
print(c.class_get())

1

외부 함수입니다. -  2
1

In [20]:
class C:
  def ham(self, x, y):
    print("instance method", x, y)

c = C()
c.ham(1, 2)
C.ham(c, 1, 2)

instance method 1 2
instance method 1 2

In [22]:
class MyClass:
    def __init__(self):
        self.name = "Class"
        print("클래스가 생성되었습니다.", self.name)

    def __del__(self):
        print("클래스가 소멸되었습니다.")

c = MyClass()

클래스가 생성되었습니다. Class

In [24]:
class A:
  def func(self,a):
    return "hello"
  def func(self):
    return "World"
a = A()
print(a.func())
#print(a.func(1))

World

In [25]:
class Person:
  def __init__(self,name,phone=None):
    self.name = name
    self.phone = phone
  def __str__(self):
    return '<Person {0} {1}>'.format(self.name,self.phone)
class Employee(Person):
  def __init__(self,name,phone,position,salary):
    Person.__init__(self,name,phone)
    self.position = position
    self.salary = salary
p1 = Person('홍길동',1498)
print(p1.name)
print(p1)
print()
m1 = Employee('순창희',564,'대리',200)
print(m1.name,m1.position)
print(m1)

홍길동
<Person 홍길동 1498>

순창희 대리
<Person 순창희 564>

In [26]:
class Animal:
  def cry(self):
    return "엉엉"
class Dog(Animal):
  def cry(self,a,b):
    return a *b
class Duck(Animal):
  def cry(self,a,b):
    return a+b
class Fish(Animal):
  pass
a = Dog()
b = Duck()
c = Fish()
print(a.cry("멍멍",3))
print(b.cry(4,3))
print(c.cry())

멍멍멍멍멍멍
7
엉엉

In [27]:
a = input("정수 입력 : ")
a = float(a)
print("반지름 : ",a)
print("둘레 : ",2*3.14*a)
print("넓이 : ",3.14*a*a)

정수 입력 : 5
반지름 :  5.0
둘레 :  31.400000000000002
넓이 :  78.5

In [28]:
a = input("정수 입력 : ")
if a.isdigit():
  a = float(a)
  print("반지름 : ",a)
  print("둘레 : ",2*3.14*a)
  print("넓이 : ",3.14*a*a)
else:
  print("예외 처리되었습니다.")

정수 입력 : 시반
예외 처리되었습니다.

In [29]:
a = input("정수 입력 : ")
try:
  a = float(a)
  print("반지름 : ",a)
  print("둘레 : ",2*3.14*a)
  print("넓이 : ",3.14*a*a)
except:
  print("예외 발생!!!")

정수 입력 : 정수
예외 발생!!!

In [30]:
num = ["3",'안녕하세요','4',2,67,'python']
digit_num = []
for i in num:
  try:
    digit_num.append(int(i))
  except:
    pass
print(digit_num)

[3, 4, 2, 67]

In [34]:
num = ["3",'안녕하세요','4',2,67,'python']
try:
  a = input("정수를 입력 해주세요 : ")
  a = int(a)
  print(a,'번쨰 요소는 : ',num[a],'입니다.')
except ValueError:
  print("정수를 입력해주세요")
except IndexError:
  print("리스트의 범위를 벗어났습니다.")

정수를 입력 해주세요 : 61
리스트의 범위를 벗어났습니다.

In [35]:
try:
  print(1/0)
except ArithmeticError:
  print("ArithmeticException occured")
except ZeroDivisionError:
  print("ZeroDivisionError occured")

ArithmeticException occured

In [38]:
a = input("정수 입력 : ")
a = int(a)

if a > 0:
  raise ExceptionGroup
else:
  print("음수입니다.")

정수 입력 : -1
음수입니다.

In [39]:
num = ["3",'안녕하세요','4',2,67,'python']
try:
  a = input("정수 입력 : ")
  a = int(a)
  print(a,'번쨰 요소는 : ',num[a],'입니다.')
except ValueError as msg:
  print("정수를 입력해주세요")
except IndexError as msg:
  print("리스트의 범위를 벗어났습니다.")
except Exception as msg:
  print("예상하지 못한 오류가 발생했습니다.")
else:
  print("파이썬 프로그래밍")
finally:
  print("프로그램이 종료되었습니다.")

정수 입력 : 4
4 번쨰 요소는 :  67 입니다.
파이썬 프로그래밍
프로그램이 종료되었습니다.