<a href="https://colab.research.google.com/github/jjungwooseo/KAU_Python/blob/main/Python_KAU_1day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(10):
  print(i)
  print(i+1)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10

In [2]:
print('Hello');print('World')

Hello
World

In [3]:
# 주석

In [4]:
'''
Multiline commenta
Line 1
Line 2
Line 3
'''

'\nMultiline commenta\nLine 1\nLine 2\nLine 3\n'

In [5]:
import math
math.sqrt(81)
math.factorial(5)
import numpy as np
A = np.array([1,2,3])

원시 데이터 타입

In [6]:
num_int = 30
print(num_int)
print(type(num_int))

30
<class 'int'>

In [7]:
x = True or False
print(x)
print(type(x))

True
<class 'bool'>

사칙연산

In [8]:
x = 6
y = 3
result = x+y
print(result)
print(x-y)
print(x*y)
print(x/y)

9
3
18
2.0

In [9]:
x = 2
result = x ** 4
print(result)

16

In [10]:
x = 30
y = 4
print(x//y)

7

조건 연산자

In [11]:
x = 418
y = 430
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [12]:
x = input('임이의 숫자를 입력하세요: ')
print(x)

임이의 숫자를 입력하세요: 10
10

In [13]:
True and False

False

String 덧셈,곱셈

In [14]:
a = 'boy'
b = 'loves'
c = 'girl'
letter = a + " " + b + " "+ c + " forever"
print(letter)

boy loves girl forever

문자열 수정

In [15]:
greeting = "Hello, Streamlit"
#greeting[0] = 'A'

In [16]:
new_greeting = 'A' + greeting[1:]
new_greeting

'Aello, Streamlit'

문자열 메서드

In [17]:
sampleText = 'hello, streamlit'
upper_text = sampleText.upper()
print(upper_text)

HELLO, STREAMLIT

In [18]:
lower_text = upper_text.lower()
print(lower_text)

hello, streamlit

In [19]:
title_text = lower_text.title()
print(title_text)

Hello, Streamlit

In [20]:
new_text = title_text.replace("Hello","Welcome")
print(new_text)

Welcome, Streamlit

In [21]:
words = new_text.split(sep=",")
print(words,type(words))

['Welcome', ' Streamlit'] <class 'list'>

List

In [22]:
from collections.abc import Sequence

my_num = 100
my_string = "hello"
my_list = [1,2,3]
isinstance(my_list,Sequence)

True

인덱싱 & 슬라이싱

In [23]:
a = [400,300,200]
print(a[0])

400

In [24]:
print(a[-1])

200

중첩 리스트

In [25]:
my_list = [1,2,["variety",'is','the','spice','of','life'],4,5]
print(my_list)

[1, 2, ['variety', 'is', 'the', 'spice', 'of', 'life'], 4, 5]

In [26]:
my_list[2][3:]

['spice', 'of', 'life']

리스트 주요 메서드

In [27]:
sample_texts = ["I","like"]
new_object  = sample_texts.append('your smile')
print(new_object)

None

In [28]:
sample_texts = ["I","like"]
sample_texts.append('your smile')
print(sample_texts)

['I', 'like', 'your smile']

In [29]:
nums = [0,1,3,4]
nums.insert(2,2)
print(nums)

[0, 1, 2, 3, 4]

In [30]:
letter = ["you","are","my","friend"]
letter[3] = "everything"
print(letter)

['you', 'are', 'my', 'everything']

In [31]:
letter = ["you","are","my","friend"]
letter.remove("are")
print(letter)

['you', 'my', 'friend']

In [32]:
nums = [3,1,2,5,6]
nums.sort()
print(nums)

[1, 2, 3, 5, 6]

In [33]:
nums = [3,1,2,5,6]
nums.sort(reverse=True)
print(nums)

[6, 5, 3, 2, 1]

튜플

In [34]:
my_tuple = {"Hi",1,3,12}
print(my_tuple)

{1, 'Hi', 3, 12}

In [43]:
my_nested_tuple = ("Hi", (1, 2, 3), (3.12, 1.23, 4.21))
print(my_nested_tuple[2][2])

4.21

In [42]:
del my_list[0]
print(my_list)

[['variety', 'is', 'the', 'spice', 'of', 'life'], 4, 5]

In [44]:
my_tuple = ("hi",1,3,12)
#my_tuple[0] = 0
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [45]:
my_tuple = ("Love","Love","Love","Hate","Love","Love")
print(my_tuple.count("Love"))
print(my_tuple.index("Hate"))

5
3

딕셔너리

In [46]:
my_dict = {'name':'evan',
           'age':20,
           'shoping': [1,2,3]
          }
print(my_dict)
print(type(my_dict))

{'name': 'evan', 'age': 20, 'shoping': [1, 2, 3]}
<class 'dict'>

In [47]:
print(my_dict['name'])

evan

In [48]:
my_dict['country'] = '대한민국'
print(my_dict)

{'name': 'evan', 'age': 20, 'shoping': [1, 2, 3], 'country': '대한민국'}

In [49]:
my_dict['shoping'] = '가방'
print(my_dict)

{'name': 'evan', 'age': 20, 'shoping': '가방', 'country': '대한민국'}

In [50]:
del my_dict['shoping']
print(my_dict)

{'name': 'evan', 'age': 20, 'country': '대한민국'}

조건문

In [51]:
a = 31
b = 31
if a > b:
  print("a가 b보다 크거나 같다")
elif a == b:
  print("같다")
else:
  print('a가 b보다 작다')

같다

In [52]:
my_string = "Don't them in, don't let them see"
if "let" in my_string:
  print("존재")
else:
  print('x')

존재

for 문

In [ ]:
range(10)

In [53]:
for i in range(10):
  print(str(i)+ "번째 Hello World")

0번째 Hello World
1번째 Hello World
2번째 Hello World
3번째 Hello World
4번째 Hello World
5번째 Hello World
6번째 Hello World
7번째 Hello World
8번째 Hello World
9번째 Hello World

In [54]:
num_lists = [10,20,30]
for num in num_lists:
  print(num)

10
20
30

In [55]:
prices = [1,2,3.4,2.5]
total_sales = [100,80,90]
for sales, price in zip(total_sales,prices):
  revenue = sales * price
  print(f'매출액 : {revenue}')

매출액 : 100
매출액 : 160
매출액 : 306.0

  While 문

In [ ]:
while True:
  print('무한 반복')

In [56]:
while False:
  print('무한 반복')

In [57]:
i = 1
while i<=10:
  print(str(i)+ "번쨰 안녕하세요!")
  i+=1

1번쨰 안녕하세요!
2번쨰 안녕하세요!
3번쨰 안녕하세요!
4번쨰 안녕하세요!
5번쨰 안녕하세요!
6번쨰 안녕하세요!
7번쨰 안녕하세요!
8번쨰 안녕하세요!
9번쨰 안녕하세요!
10번쨰 안녕하세요!

사용자 정의 함수

In [59]:
def addition(num1,num2):
  result = num1 + num2
  return result

In [60]:
temp = addition(10,20)
print(temp)

30

In [39]:
def addition2(num1,num2):
  result = num1 + num2
  print(result)

In [61]:
addition2(10,20)

30